@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
#saveSubmit{

	padding: 15px;
	border: none;
	display:block;
	cursor:pointer;
	margin: 0 auto 0 auto;
}
.btn-w{width:300px;}
a{
text-decoration:none;
}
.btn-general{
	
	background-color: #007BFF;
	color: white;
	padding: 15px;
	border: none;
	display:block;
	cursor:pointer;
	margin: 0 auto 0 auto;
	box-shadow: 1px 0px 4px #007BFF;
	
}
.btn-general:hover{
	background-color: #3D9BFF;
}
.form-section, td{
	
	padding: 5px;
	border: solid 1px #D7D7D7;
	background-color: #FAFAFA;
	color: #2E2E2E;
}
table{
	width:100%;
	border-collapse : collapse;
}
.cardd{
	font-family: "Quicksand";
	box-shadow: 1px 0px 26px #459FFF;
	display:flex;
	justify-content: space-around; 
	flex-flow: row wrap;
	align-items: center;
	width:100%-5px;
	border:#DFDFDF solid 2px;
	margin:5px
}
@media (max-width: 800px) {
  .cardd{
  margin: 10px 0;
	text-align:center;
    flex-direction: column;
    align-items: stretch;
  }
  .cardd img{ margin: 0 auto 0 auto;}
}

.required::before{
	content: "*";
	color: red;
	font-size:10px;
	vertical-align:8px;
}
.label{
	text-align: right;
	max-width:150px;
}

.input-text{
	width:95%;
}
.heading > div{
	background-color: #DFDFDF;
}
.heading{
	color : #151515;
	font-weight: 900;
	width:100%-5px;
	padding : 5px;
	max-width:1024px;
	margin:0 auto;
	border: #DFDFDF 1px solid;
	
}
.heading>div::before{
	content : "|";
	font-weight: 900;
	font-size: 30px;
	color: #57A8FF;
	max-width: 1024;
	
}

body{
	font-family: "Muli";
	margin:0;
	background-image:url("https://getwallpapers.com/wallpaper/full/8/4/d/446349.jpg");
	background-size:"cover";
	background-attachment: fixed;
	background-repeat: "no-repeat";
}
table{
	max-width:1024px;
	margin: 0 auto;
}


.flex-container{
max-width:1024px;
display: flex;
margin:0 auto;
flex-wrap: wrap;
text-align:right;
background-color: #FAFAFA;
align-content: stretch;
align-items: stretch;
}
.flex-item{
margin-top: 0px;
display:flex;
width:50%;
padding:10px;
border: #DFDFDF 1px solid;

color: #151515;
align-content: stretch;
justify-content: flex-end;
}

@media (max-width: 800px) {
	.flex-container{
		flex-direction: column;
		align-content:center;
		justify-content:center;
	}
	.headin{
		margin-right:10px;
	}
  .flex-item{
		width:100%;
		justify-content:flex-end;
	}
}
.headin{  
	width:auto;
	max-width:30%;
	font-size:12px;
	}
.defin {
	margin-left:10px;
	text-align:left;
	width: 70%;	
}

.btn-upload  input[type="file"] {
       display:none;
      }
 .btn-upload{
	margin:25px 0;
	}
	
.cm{
	text-align: center;
	}
.footer-id{
	position: fixed;
	bottom:0;
	left:0;
	font-size:10px;
	color:gray;
}
.heading-main{
	max-width:100%;
}



.data-head{
	padding:10px;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
[type=checkbox].checkboxHidden{
			position:absolute;
			top:-1000px;
		}
.body{ 
max-width: 1024px; 
margin: 0 auto;
}


  
